{% extends "base.html" %}
{% block head %}
    <title>ios testflight upload</title>
<style>
    .hide{
        display:none
    }
    .show{
        display:block
    }
</style>
{% endblock %}

{% block body %}
<div class="container" style="margin-top: 5%">
    <div id="toast" class="alert alert-success alert-dismissible hide" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      正在上传，任务进度请点击上传结果查询~
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <input type="text" name="package_url" class="form-control" placeholder="Package url" />
            <input type="text" name="username" class="form-control" placeholder="Username" />
            <input type="password" name="password" class="form-control" placeholder="Password" /><br />
            <button id="uploadForm" class="btn ml-auto" style="float:right">上传</button>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}